* {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(6, 86, 118);
}

body {
    box-sizing: border-box;
    border: 10px double black;
    background-color: skyblue;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.hading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h1 {
    font-size: 30px;
}

.first {
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10PX rgb(16, 114, 152);
    background: rgb(136, 185, 204);
    min-width: 20%;
}

.last {
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10PX rgb(16, 114, 152);
    min-width: 20%;
    margin-bottom: 50px;
    background: rgb(136, 185, 204);
}

button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    width: 100%;
    background: none;
}

.btndiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

p {
    color: rgb(2, 198, 2);
}

input {
    font-size: 17px;
    padding: 10px;
    background: none;
}

input:focus {
    color: rgb(6, 86, 118)
}

input[type=placeholder]{
    color: rgb(6, 86, 118);
}